VITE_API_URL=https://localhost:7000
VITE_COMPANY_NAME="Mi Tienda de Manualidades"
VITE_COMPANY_LOGO_URL="https://picsum.photos/seed/logo/80/80"
VITE_COMPANY_EMAIL="contacto@mitienda.com"
VITE_COMPANY_PHONE="+598 99 000 000"
VITE_WHATSAPP_NUMBER="+59899000000"
VITE_WHATSAPP_MSG="Hola, quiero hacer una consulta sobre sus productos"
